.nav-container{
    
}

.sticky-nav{
    width: 100%;
    height: 50px;
    background-color: rgb(26,36,47);
    color: white;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 3px solid rgba(0, 238, 255, 0.486);
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    position: absolute;
    display: block;
    overflow: hidden !important;
    width:100%;
    z-index: 5 !important;

}
.fixed-nav{
    width: 100%;
    height: 50px;
    background-color: (0,0,0,.8);
    color: white;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 3px solid rgba(0, 238, 255, 0.486);
    margin: auto;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0; /* required */
    position: absolute;
    display: block;
    overflow: hidden !important;
    width:100%;
    z-index: 5 !important;
    padding: 0 17px;
}
.display-nav{
    display: none;
}

nav  span{
    border: none;
    padding: 0;
    background: none;
    font-size: 15px;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0 100px;
    display: flex;
}
nav ul li{
    list-style: none;
}

nav ul li span{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen 
and (min-width : 350px) and (max-width : 450px) {
/* Styles */
.sticky-nav{
    padding: 0 100px;
}
.fixed-nav{
    padding: 0 100px;
}
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }


@media only screen 
and (min-width : 150px) and (max-width : 350px) {
/* Styles */
.sticky-nav{
    padding: 0 100px;
}
.fixed-nav{
    padding: 0 100px;
}
nav span{
    font-size: 12px;
}
}