.introduction-text{
    animation: mymove 5s;
    align-items: center;
    font-size: 30px;
    font-style: AROMA;
    left: 50%;
    transform: translate(-50%, -50%);
}
.next-section-btn span{
    
}
.introduction-text span{
    color:  rgb(147, 27, 227);
}

.introduction-nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}
.introduction-container{
    position: relative;
    left: 50%;
}
