
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    height: 297mm;
    margin: 0;
    border: 1px #D3D3D3 solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}

@page {
    size: A4 !important;
    margin: 0 !important;
    width: 100% !important;
}
@media print {
    .page {
        height: 100% !important; 
        width: 100% !important; 
        margin: 0 !important;
        border: initial;
        border-radius: initial;
        width: 100%;
        height: 100%;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


#wrapper {
    width: 210mm !important;
    height: 297mm;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}
.first {
    width: 60mm;
    float:left; /* add this */
    color: white;
    background-color: rgb(39,41,61);
}
.second {
    width: 150mm;
    float: left; /* add this */
    background-color: rgb(29,29,46);
}

.avatar-img{
    width: auto;
    height: 100px;
    float:left; /* add this */
   
}

.name-container{
    float: left; /* add this */
    margin-top: 3mm;
    margin-left: 6mm;
    font-weight: bold;
    color: white;
    font-size: 23px;
}
br {
    content: "";
    margin: -2em;
    display: block;
    font-size: 24%;
  }

.name-avatar{
    width: 90mm;
    height: 35mm;
    border-right:0.2mm solid white;
    padding: 5mm;
    display: flex;
}

#line{
    border-top: 0.5px solid #3d3e42;
}

#contacts{
    padding-top: 3mm;
    padding-left: 5mm;
    padding-bottom: 3mm;
}
#contact-name{
    font-weight: bold;
    font-size: 13px;
}

#contact-data{
    padding-left: 3mm;
    font-size: 13px;
}

#contact-link{
    font-size: 13px;
    padding-left: 3mm;
    color:  #3f51b5;
}
#skill-title{
    color:  #3f51b5;
    font-weight: bold;
    text-transform: uppercase;
}


#icons{
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#about-me{
    font-size: 15px;
    margin-top: 10px;
    padding-left: 15px;
}

#left-title{
    margin-top: 10px;
    height: 33px;
    background-color: #3f51b5;
    width: 90%;
    border-radius: 5px 20px 5px;
}

#skills{
    overflow: hidden;
    margin-left: -5px;
}

.skill-name{
    padding-top: 8px;
    padding-right: 15px;
}
#progress-bar{
    padding-top: 0px;
    padding-right: 40px;
    overflow: hidden;
}
.second-title{
}

.second-title > h5{
    margin-left: 15px;
}

.experience-container{
    color: white;
}


h2.no-background {
    position: relative;
    overflow: hidden;
    
    span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 20px;
        background-color: transparent;

        &:before, &:after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.73em;
            border-top: 1px solid #3f51b5;
        }

        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}


.decoration > div{
    background-color: #3f51b5;
    height: 5mm;
    margin-bottom: 0px;
    width: 100%;
}

#contact-icon{
    height: 25px;
}
